{% extends "cardbox/base.html" %}
{% load i18n %}

{% block content %}
user: {{ prayerdeck.user.username }}
<br>
cards: 
<br><table>
{% for prayerdeckusercard in prayerdeck.prayerdeckusercard_set.all %}
<tr>{{ prayerdeckusercard.usercard.card.title }}</tr>
<tr>{{ prayerdeckusercard.usercard.card.scripture }}</tr>
<tr>{{ prayerdeckusercard.usercard.card.text }}</tr>
<tr>
{% for note in prayerdeckusercard.usercard.usercardnote_set.all %}
<li>{{ note.note }}</li>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}