{% load i18n %}

<!-- Accessing data from the model -->
<h1>{{ user.username }}</h1>

<!-- Accessing data from the form -->
<form method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
</table>
<table>
    <tr>
        <th>{% translate "Prayer Category" %}</th>
        <th>{% translate "Enabled" %}</th>
        <th>{% translate "Pray All Cards" %}</th>
    </tr>
    {{ categoryformset.management_form }}
    {% for form in categoryformset %}
    <tr>
        <td>{{ form.instance.get_category_display }}{{ form.id }}</td>
        <td>{{ form.enabled }}</td>
        <td>{{ form.pray_all_cards }}</td>
    </tr>
    {% endfor %}
</table>
    <button type="submit">{% translate "Save" %}</button>
</form>
