[Unit]
Description=gunicorn daemon for {{ project_name }}
Requires=gunicorn-{{ project_name }}.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User={{ gunicorn_user }}
Group={{ gunicorn_group }}
RuntimeDirectory=gunicorn
WorkingDirectory={{ project_path }}
ExecStart={{ virtualenv_path }}/bin/gunicorn scriptured_prayer.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Environment="DJANGO_SECRET_KEY={{ django_secret }}"

[Install]
WantedBy=multi-user.target