{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static '/prayerapp/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scriptured Prayer</title>
    <script type="module" crossorigin src="{% static '/prayerapp/index.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/prayerapp/index.css' %}">
  </head>
  <body>
    <script>
      (function () {
        const profile = JSON.parse(localStorage.getItem('profile')) ?? { language: '{{ LANGUAGE_CODE }}' };
        localStorage.setItem('profile', JSON.stringify(Object.assign({}, profile, { language: '{{ LANGUAGE_CODE }}' })));
      })();
    </script>
    <div id="root"></div>
  </body>
</html>
