{% load i18n %}

{{ prayerusercard.prayer.date | date:"l F d, Y" }}<br>
title: {{ prayerusercard.usercard.card.title }}<br>
scripture: {{ prayerusercard.usercard.card.scripture }}<br>
text: {{ prayerusercard.usercard.card.text }}<br>
used: {{ prayerusercard.used }}<br>
private: {{ prayerusercard.usercard.card.private }}<br>
<form method="POST">
    {% csrf_token %}
<table>
{{ usercardnotes_formset.management_form }}
{% for form in usercardnotes_formset %}
{{ form.as_table }}
{% endfor %}
</table>
<button type="submit" name="note_save" value="save">{% translate "Save Note" %}</button>
</form>
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="prayer_nav" value="prev">{% translate "Previous"%}</button>
    <button type="submit" name="prayer_nav" value="next">{% translate "Next"%}</button>
</form>